*.dll
*.dot
*.dylib
*.egg-info
*.o
*.so
*.swp
.cache
.eggs
.hypothesis
.ipynb_checkpoints
.mypy_cache
.venv
CMakeCache.txt
CMakeFiles
CMakeUserPresets.json
__pycache__
build
cmake-build*
depgraph.png
dist
doc
pytket/pytket/_version.py
pytket/tests/qasm_test_files/testout.qasm
pytket/tests/qasm_test_files/testout2.qasm
pytket/tests/qasm_test_files/testout3.qasm
pytket/tests/qasm_test_files/testout4.qasm
pytket/tests/qasm_test_files/testout5.qasm
pytket/tests/qasm_test_files/testout6.qasm
test-coverage

# IDEs
.idea
.vscode
