*.dll
*.dot
*.dylib
*.egg-info
*.o
*.so
.cache
.eggs
.hypothesis
.ipynb_checkpoints
.mypy_cache
CMakeCache.txt
CMakeFiles
__pycache__
build
depgraph.png
dist
doc
pytket/pytket/_version.py
pytket/tests/qasm_test_files/testout.qasm
pytket/tests/qasm_test_files/testout2.qasm
pytket/tests/qasm_test_files/testout3.qasm
pytket/tests/qasm_test_files/testout4.qasm
pytket/tests/qasm_test_files/testout5.qasm
