include pytket/circuit/display/circuit.html
include pytket/circuit/display/dist/main.js

exclude pytket/circuit/display/src
exclude pytket/circuit/display/package.json
exclude pytket/circuit/display/package-lock.json
exclude pytket/circuit/display/webpack.config.js

