name: build with nix
on:
  schedule:
    # 01:00 every Sunday morning
    - cron: '0 1 * * 0'
  workflow_dispatch: {}
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true
jobs:
  build_and_test:
    strategy:
      matrix:
        os: ['ubuntu-22.04', 'macos-13-xlarge']
    runs-on: ${{matrix.os}}
    steps:
    - uses: actions/checkout@v4
    - uses: cachix/install-nix-action@v26
    - uses: cachix/cachix-action@v14
      with:
        name: tket
        authToken: '${{ secrets.CACHIX_AUTH_TOKEN }}'
    - name: Build and test tket
      run: nix flake check -L
