name: Build symengine

on:
  push:
    branches:
      - 'symengine-upload-new/**'

jobs:
  build:
    name: Build
    strategy:
      matrix:
        os: ['ubuntu-22.04', 'macos-11', 'macos-12', 'windows-2022']
        build_type: ['Release', 'Debug']
    runs-on: ${{ matrix.os }}
    env:
      CONAN_REVISIONS_ENABLED: 1
    steps:
    - uses: actions/checkout@v3
    - name: Install conan
      uses: turtlebrowser/get-conan@v1.1
    - name: Set up conan profile
      run: conan profile new tket --detect --force
    - name: Fix up libcxx in profile
      if: matrix.os == 'ubuntu-22.04'
      run: conan profile update settings.compiler.libcxx=libstdc++11 tket
    - name: add remote
      run: |
        conan remote clean
        conan remote add tket-vlibs https://quantinuumsw.jfrog.io/artifactory/api/conan/tket1-vlibs --force
    - name: normalize line endings in conanfile
      if: matrix.os == 'windows-2022'
      # Ensure consistent revisions across platforms.
      run: |
        $recipe_files = Get-ChildItem "recipes/symengine" -File -Recurse
        foreach ($f in $recipe_files) {
          $normalized_file = [IO.File]::ReadAllText($f) -replace "`r`n", "`n"
          [IO.File]::WriteAllText($f, $normalized_file)
        }
    - name: Build symengine
      run: conan create --profile=tket -s build_type=${{ matrix.build_type }} recipes/symengine/all symengine/0.9.0@tket/stable
    - name: authenticate to repository
      run: conan user -p ${{ secrets.JFROG_ARTIFACTORY_TOKEN_2 }} -r tket-vlibs ${{ secrets.JFROG_ARTIFACTORY_USER_2 }}
    - name: upload package
      run: conan upload symengine/0.9.0@tket/stable --all -r=tket-vlibs

  build_macos_arm64:
    name: Build on MacOS ARM64
    runs-on: ['self-hosted', 'macOS', 'ARM64']
    strategy:
      matrix:
        build_type: ['Release', 'Debug']
    env:
      CONAN_REVISIONS_ENABLED: 1
    steps:
    - uses: actions/checkout@v3
    - name: Set up conan profile
      run: conan profile new tket --detect --force
    - name: add remote
      run: |
        conan remote clean
        conan remote add tket-vlibs https://quantinuumsw.jfrog.io/artifactory/api/conan/tket1-vlibs --force
    - name: Build symengine
      run: |
        conan remove -f symengine/*
        conan create --profile=tket -s build_type=${{ matrix.build_type }} recipes/symengine/all symengine/0.9.0@tket/stable --build=missing
    - name: authenticate to repository
      run: conan user -p ${{ secrets.JFROG_ARTIFACTORY_TOKEN_2 }} -r tket-vlibs ${{ secrets.JFROG_ARTIFACTORY_USER_2 }}
    - name: upload package
      run: conan upload symengine/0.9.0@tket/stable --all -r=tket-vlibs
    - name: unauthenticate
      run: conan user -c
