name: Lint python projects

on:
  pull_request: {}
  workflow_dispatch: {}

jobs:
  lint:

    runs-on: ubuntu-24.04

    steps:
    - uses: actions/checkout@v4
    - name: Set up Python 3.x
      uses: actions/setup-python@v5
      with:
        python-version: '3.x'
    - name: Install black and pylint
      run: pip install black~=22.3 pylint~=2.13,!=2.13.6
    - name: Check files are formatted with black
      run: |
        # Paths specified to avoid formatting submodules
        black --check .
    - name: pylint check
      run: |
        cd pytket
        pylint pytket/
