name: Lint python projects

on:
  pull_request: {}
  workflow_dispatch: {}

jobs:
  lint:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Set up Python 3.x
      uses: actions/setup-python@v5
      with:
        python-version: '3.x'
    - name: Update pip
      run: pip install --upgrade pip
    - name: Install formatters and linters
      run: pip install ruff
    - name: Run ruff lint
      run: |
        ruff check .
    - name: Run ruff
      run: |      
        ruff format --check .

