name: test all libraries
on:
  schedule:
    # 03:00 every Wednesday morning
    - cron: '0 3 * * 3'
  workflow_dispatch: {}

jobs:
  test_libraries:
    name: test library
    strategy:
      matrix:
        os: ['ubuntu-24.04', 'macos-12', 'windows-2022', 'macos-14']
        lib: ['tklog', 'tkassert', 'tkrng', 'tktokenswap', 'tkwsm']
    runs-on: ${{ matrix.os }}
    steps:
    - uses: actions/checkout@v4
    - name: Set up Python 3.11
      uses: actions/setup-python@v5
      with:
        python-version: '3.11'
    - name: Install conan
      uses: turtlebrowser/get-conan@v1.2
    - name: Set up conan
      shell: bash
      run: |
        conan profile detect
        DEFAULT_PROFILE_PATH=`conan profile path default`
        PROFILE_PATH=./conan-profiles/${{ matrix.os }}
        diff ${DEFAULT_PROFILE_PATH} ${PROFILE_PATH} || true
        cp ${PROFILE_PATH} ${DEFAULT_PROFILE_PATH}
        conan remote add tket-libs https://quantinuumsw.jfrog.io/artifactory/api/conan/tket1-libs --index 0
    - name: build ${{ matrix.lib }}
      run: conan create libs/${{ matrix.lib }} --build=missing -o boost/*:header_only=True
    - name: build ${{ matrix.lib }} tests
      run: conan create libs/${{ matrix.lib }}/test --build=missing -o boost/*:header_only=True --format json > test-${{ matrix.lib }}.json
    - name: run ${{ matrix.lib }} tests
      shell: bash
      run: |
        PKGPATH=`./rootpath test-${{ matrix.lib }}.json test-${{ matrix.lib }}`
        cd ${PKGPATH}/bin
        ./test-${{ matrix.lib }}
