name: test all libraries
on:
  schedule:
    # 03:00 every Wednesday morning
    - cron: '0 3 * * 3'
jobs:
  test_libraries:
    name: test library
    strategy:
      matrix:
        os: ['ubuntu-22.04', 'macos-12', 'windows-2022']
        lib: ['tklog', 'tkassert', 'tkrng', 'tktokenswap', 'tkwsm']
    runs-on: ${{ matrix.os }}
    env:
      CONAN_REVISIONS_ENABLED: 1
    steps:
    - uses: actions/checkout@v3
    - name: Set up Python 3.10
      uses: actions/setup-python@v4
      with:
        python-version: '3.10'
    - name: install conan
      run: pip install conan~=1.53
    - name: create profile
      run: conan profile new tket --detect
    - name: set libcxx
      if: matrix.os == 'ubuntu-22.04'
      run: conan profile update settings.compiler.libcxx=libstdc++11 tket
    - name: add remote
      run: |
        conan remote clean
        conan remote add tket-libs https://quantinuumsw.jfrog.io/artifactory/api/conan/tket1-libs
    - name: build ${{ matrix.lib }}
      run: conan create --profile=tket libs/${{ matrix.lib }} --build=missing
    - name: build ${{ matrix.lib }} tests
      run: |
        conan install libs/${{ matrix.lib }}/test --install-folder=build/test-${{ matrix.lib }} --output-folder=build/test-${{ matrix.lib }} --profile=tket
        conan build libs/${{ matrix.lib }}/test --configure --build-folder=build/test-${{ matrix.lib }} --source-folder=libs/${{ matrix.lib }}/test
        conan build libs/${{ matrix.lib }}/test --build --build-folder=build/test-${{ matrix.lib }}
    - name: run ${{ matrix.lib }} tests
      working-directory: ./build/test-${{ matrix.lib }}/build/Release
      run: ./test-${{ matrix.lib }}
  macos-m1:
    name: test library (macos-m1)
    runs-on: ['self-hosted', 'macOS', 'ARM64']
    strategy:
      matrix:
        lib: ['tklog', 'tkassert', 'tkrng', 'tktokenswap', 'tkwsm']
    env:
      CONAN_REVISIONS_ENABLED: 1
    steps:
    - uses: actions/checkout@v3
    - name: install conan
      run: pip install conan~=1.53
    - name: create profile
      run: conan profile new tket --detect --force
    - name: add remote
      run: |
        conan remote clean
        conan remote add tket-libs https://quantinuumsw.jfrog.io/artifactory/api/conan/tket1-libs
    - name: build ${{ matrix.lib }}
      run: conan create --profile=tket libs/${{ matrix.lib }} --build=missing
    - name: build ${{ matrix.lib }} tests
      run: |
        conan install libs/${{ matrix.lib }}/test --install-folder=build/test-${{ matrix.lib }} --output-folder=build/test-${{ matrix.lib }} --profile=tket
        conan build libs/${{ matrix.lib }}/test --configure --build-folder=build/test-${{ matrix.lib }} --source-folder=libs/${{ matrix.lib }}/test
        conan build libs/${{ matrix.lib }}/test --build --build-folder=build/test-${{ matrix.lib }}
    - name: run ${{ matrix.lib }} tests
      working-directory: ./build/test-${{ matrix.lib }}/build/Release
      run: ./test-${{ matrix.lib }}
