name: valgrind check
on:
  pull_request:
    branches:
      - develop

  schedule:
    # 03:00 every Monday morning
    - cron: '0 3 * * 1'
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true
jobs:
  changes:
    runs-on: ubuntu-22.04
    outputs:
      tket: ${{ steps.filter.outputs.tket }}
    steps:
    - uses: actions/checkout@v3
    - uses: dorny/paths-filter@v2.11.1
      id: filter
      with:
        base: ${{ github.ref }}
        filters: |
          tket:
            - 'tket/**'
            - '.github/workflows/valgrind.yml'
  check:
    runs-on: ubuntu-22.04
    needs: changes
    if: needs.changes.outputs.tket == 'true'
    steps:
    - uses: actions/checkout@v3
    - name: apt update
      run: sudo apt update
    - name: Install conan
      uses: turtlebrowser/get-conan@v1.2
    - name: Set up conan
      run: |
        conan profile detect
        conan remote add tket-libs https://quantinuumsw.jfrog.io/artifactory/api/conan/tket1-libs
    - name: install valgrind
      run: sudo apt install valgrind
    - name: build tket
      run: conan create tket --user=tket --channel=stable --build=missing -o boost/*:header_only=True
    - name: Install runtime test requirements
      if: github.event_name == 'schedule'
      run: |
        sudo apt install texlive texlive-latex-extra latexmk
        mkdir -p ~/texmf/tex/latex
        wget http://mirrors.ctan.org/graphics/pgf/contrib/quantikz/tikzlibraryquantikz.code.tex -P ~/texmf/tex/latex
    - name: Build and run tests under valgrind
      run: |
        conan create tket/test --build=missing -o boost/*:header_only=True --format json > test-tket.json
        PKGPATH=`./rootpath test-tket.json test-tket`
        cd ${PKGPATH}/bin && valgrind --error-exitcode=1 ./test-tket `./github/workflows/test-args ${{ matrix.os }} ${{ github.event_name }}`
